<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taganrog</title>
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- tailwind css in js -->
    <script src="https://cdn.twind.style" crossorigin></script>
    <script src="https://cdn.twind.style/ext,line-clamp,forms,typography" crossorigin></script>
    <script>
        twind.install({
            hash: false
        })
    </script>
    <!-- algolia -->
    <link rel="stylesheet" href="https://unpkg.com/@algolia/autocomplete-theme-classic@1.15.1" />
    <script src="https://unpkg.com/@algolia/autocomplete-js@1.15.1"></script>
    <script>
        const { autocomplete } = window['@algolia/autocomplete-js'];
    </script>
</head>
<body>
<div id="content">
    <main class="flex h-screen flex-col items-center justify-center bg-white px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center">
            <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl"><span class="text-7xl font-extrabold text-red-500"> Tag </span><span class="text-6xl"> anrog </span></h1>
        </div>
        <div class="mt-6 w-full max-w-xl space-y-8" id="autocomplete"></div>
    </main>
    <footer class="fixed bottom-0 flex h-20 w-full items-center justify-center bg-white">
        <div class="text-center"><p class="text-gray-600">For those, who love tags</p></div>
    </footer>
    <script>
        autocomplete({
            container: '#autocomplete',
            getSources({ query }) {
                return [
                    {
                        sourceId: 'tags',
                        getItems() {
                            return fetch(`/tags/autocomplete?q=${encodeURIComponent(query)}`)
                                .then((response) => response.json())
                                .then((data) => {
                                    return data.map((item) => {
                                        return {
                                            ...item,
                                            suggestion: item.suggestion,
                                            _highlightResult: {
                                                highlighted_suggestion: {
                                                    value: item.highlighted_suggestion
                                                        .replace(/<mark>/g, '__aa-highlight__')
                                                        .replace(/<\/mark>/g, '__/aa-highlight__')
                                                },
                                            },
                                        };
                                    });
                                });
                        },
                        getItemUrl({ item }) {
                            return '/search?q=' + item.suggestion;
                        },
                        getItemInputValue: ({ item }) => item.suggestion,
                        templates: {
                            item({ item, components, html }) {
                                return html`<div className="aa-ItemWrapper">
                                  <div className="aa-ItemContent">
                                    <div className="aa-ItemContentBody">
                                      <div className="aa-ItemContentTitle">
                                        ${components.Highlight({ hit: item, attribute: 'highlighted_suggestion' })}
                                      </div>
                                    </div>
                                  </div>
                                </div>`
                            },
                        },
                    },
                ];
            },
        });
    </script>
</div>
</body>
</html>
