<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taganrog</title>
    <!-- tailwind css in js -->
    <script src="/scripts/tailwind.min.js" crossorigin></script>
    <!-- algolia -->
    <link rel="stylesheet" href="/styles/algolia.min.css" />
    <script src="/scripts/algolia.min.js"></script>
    <script>
        const { autocomplete } = window['@algolia/autocomplete-js'];
        const invoke = window.__TAURI__.core.invoke;
        const convertFileSrc = window.__TAURI__.core.convertFileSrc;
    </script>
    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Allow any inheriting page to extend body with additional content -->
    {% block content %}{% endblock %}
</body>
</html>
