{% extends "base.html" %}

{% block content %}
    <div id="content">
        <header class="fixed top-0 flex w-full items-center justify-end bg-white px-4 py-4 sm:px-6 lg:px-8">
            <a class="border-none focus:outline-none" href="/upload">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" color="#EF4444" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                </svg>
            </a>
        </header>
        <main class="flex h-screen flex-col items-center justify-center bg-white px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-center">
                <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl"><span class="text-7xl font-extrabold text-red-500"> Tag </span><span class="text-6xl"> anrog </span></h1>
            </div>
            <div class="mt-6 w-full max-w-xl space-y-8" id="autocomplete"></div>
        </main>
        <footer class="fixed bottom-0 flex h-20 w-full items-center justify-center bg-white">
            <div class="text-center"><a class="text-gray-600" href="/media/random">Charting digital depths, from Alferaki to Faina</a></div>
        </footer>
        {% include "algolia_autocomplete.html" %}
        <script>
            // focus on the Algolia input
            document.querySelector('.aa-Input').focus();
        </script>
    </div>
{% endblock %}