{% extends "base.html" %}

{% block head %}
    {% if query == "" %}
        <meta http-equiv="refresh" content="0; url=/" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="flex flex-col h-screen">
        <header class="flex items-center justify-between bg-white px-4 py-4 sm:px-6 lg:px-8">
            <form action="/" method="get" class="flex items-center space-x-4">
                <button tabindex="-1" type="submit" class="border-none focus:outline-none">
                    <h1 class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"><span class="text-6xl font-extrabold text-red-500"> Tag </span><span class="ml-2 text-5xl"> anrog </span></h1>
                </button>
            </form>
            <div class="mx-auto w-full max-w-xl" id="autocomplete"></div>
            <button class="border-none focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" color="#EF4444" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                </svg>
            </button>
        </header>
        <main class="flex flex-col items-center justify-center bg-white px-4 sm:px-6 lg:px-8 overflow-y-auto flex-grow">
            <div class="max-w-7xl w-full mt-6 max-h-full">
                <div class="flex justify-center mt-4" id="load-more-button">
                    <button class="!bg-black inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-white !hover:bg-gray-700 h-10 px-4 py-2"
                            hx-get="/search/more?q={{ query }}&p=0"
                            hx-trigger="load"
                            hx-target="#load-more-button"
                            hx-swap="outerHTML">
                        Load more...
                    </button>
                </div>
            </div>
        </main>
        <footer class="w-full h-20 flex items-center justify-center bg-white">
            <div class="text-center"><p class="text-gray-600">Charting digital depths, from Alferaki to Faina</p></div>
        </footer>
        {% include "algolia_autocomplete.html" %}
    </div>
{% endblock %}
