{% for media in media_vec %}
    <div class="rounded-md shadow-sm p-4 flex items-start space-x-4 mt-4 bg-gray-50">

        <!-- check for content type and choose corresponding SVG icon (there are only jpg.svg, png.svg, mp3.svg, mp4.svg, and for the rest - file.svg) -->
        <a href="/media/{{ media.id }}?q={{ query }}">
            {% if media.content_type == "image/jpg" %}
            <img src="/icons/jpg.svg" class="w-32 h-32 object-cover rounded-md" style="aspect-ratio:100/100;object-fit:cover;">
            {% else if media.content_type == "image/jpeg" %}
            <img src="/icons/jpg.svg" class="w-32 h-32 object-cover rounded-md" style="aspect-ratio:100/100;object-fit:cover;">
            {% else if media.content_type == "image/png" %}
            <img src="/icons/png.svg" class="w-32 h-32 object-cover rounded-md" style="aspect-ratio:100/100;object-fit:cover;">
            {% else if media.content_type == "audio/mpeg" %}
            <img src="/icons/mp3.svg" class="w-32 h-32 object-cover rounded-md" style="aspect-ratio:100/100;object-fit:cover;">
            {% else if media.content_type == "video/mp4" %}
            <img src="/icons/mp4.svg" class="w-32 h-32 object-cover rounded-md" style="aspect-ratio:100/100;object-fit:cover;">
            {% else %}
            <img src="/icons/file.svg" class="w-32 h-32 object-cover rounded-md" style="aspect-ratio:100/100;object-fit:cover;">
            {% endif %}
        </a>

        <div>
            <a href="/media/{{ media.id }}?q={{ query }}">
                <h2 class="text-xl font-bold">{{ media.filename }}</h2>
            </a>
            <p class="text-gray-600">File Size: {{ media.size }} bytes</p>
            <p class="text-gray-600">File Type: {{ media.content_type }}</p>
            <p class="text-gray-600">Created: {{ media.created_at }}</p>
            <div class="flex flex-wrap gap-2">
                {% for tag in media.tags %}
                    {% if tag.is_in_query %}
                        <a href="/search?q={{ query }}%20-{{ tag.name }}" class="rounded px-2 py-1 text-sm border-2 border-black"
                           style="background-color: {{ tag.bg_color }}; color: {{ tag.fg_color }};"
                        >#{{ tag.name }}</a>
                    {% else %}
                        <a href="/search?q={{ query }}%20{{ tag.name }}" class="rounded px-2 py-1 text-sm"
                           style="background-color: {{ tag.bg_color }}; color: {{ tag.fg_color }};"
                        >#{{ tag.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
{% if has_next %}
    <div class="flex justify-center mt-4" id="load-more-button">
        <button class="!bg-black inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-white !hover:bg-gray-700 h-10 px-4 py-2"
                hx-get="/search/more?q={{ query }}&p={{ next_page }}"
                hx-target="#load-more-button"
                hx-swap="outerHTML">
            Load more...
        </button>
    </div>
{% endif %}