{% for media in media_vec %}
    <a href="/media/{{ media.id }}?q={{ query }}" class="rounded-md shadow-sm p-4 flex items-start space-x-4 mt-4 bg-gray-50 hover:bg-gray-100">
        <img
                alt="Search Result 1"
                class="w-32 h-32 object-cover rounded-md"
                height="100"
                src="https://generated.vusercontent.net/placeholder.svg"
                style="aspect-ratio:100/100;object-fit:cover;"
                width="100"
        />
        <div>
            <h2 class="text-xl font-bold">{{ media.filename }}</h2>
            <p class="text-gray-600">File Size: {{ media.size }} bytes</p>
            <p class="text-gray-600">File Type: {{ media.content_type }}</p>
            <p class="text-gray-600">Created: {{ media.created_at }}</p>
            <div class="flex flex-wrap gap-2">
                {% for tag in media.tags %}
                    {% if tag.is_in_query %}
                        <span class="bg-red-200 text-red-700 rounded px-2 py-1 text-sm border-2 border-black">#{{ tag.name }}</span>
                    {% else %}
                        <span class="bg-red-200 text-red-700 rounded px-2 py-1 text-sm">#{{ tag.name }}</span>
                    {% endif %}
                {% endfor %}
                <!--                        <span class="bg-green-200 text-green-700 rounded px-2 py-1 text-sm">Tag2</span>-->
                <!--                        <span class="bg-blue-200 text-blue-700 rounded px-2 py-1 text-sm">Tag3</span>-->
            </div>
        </div>
    </a>
{% endfor %}
{% if has_next %}
    <div class="flex justify-center mt-4" id="load-more-button">
        <button class="!bg-black inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-white !hover:bg-gray-700 h-10 px-4 py-2"
                hx-get="/search/more?q={{ query }}&p={{ next_page }}"
                hx-target="#load-more-button"
                hx-swap="outerHTML">
            Load more...
        </button>
    </div>
{% endif %}