{% extends "base.html" %}

{% block content %}
<div class="flex flex-col h-screen">
    <header class="flex items-center justify-between bg-white px-4 py-4 sm:px-6 lg:px-8">
        <form action="/" method="get" class="flex items-center space-x-4">
            <button tabindex="-1" type="submit" class="border-none focus:outline-none">
                <h1 class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                    <span class="text-6xl font-extrabold text-red-500"> Tag </span>
                    <span class="ml-2 text-5xl"> anrog </span>
                </h1>
            </button>
        </form>
        <button class="border-none focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" color="#EF4444" stroke-linejoin="round"
                      d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"/>
            </svg>
        </button>
    </header>
    <main class="h-screen flex flex-col items-center justify-center bg-white px-4 sm:px-6 lg:px-8">
        <div class="max-w-7xl w-full mt-6 grid grid-cols-1 gap-4 bg-gray-50">
            <div class="rounded-md shadow-sm p-4">
                <h2 class="text-2xl font-bold mt-2">
                    Upload your file
                </h2>
                <div class="mt-4">
                    <label class="sr-only" for="file-upload">Upload</label>
                    <input class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           id="file-upload" required="" type="file" name="file-upload">
                </div>
                <div class="mt-4">
                    <label class="sr-only" for="tags">
                        Tags
                    </label>
                    <input class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           id="tags" placeholder="Enter tags separated by commas" required="" type="text" name="tags">
                </div>
                <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none !bg-black !text-white h-10 px-4 py-2 mt-4">
                    Submit
                </button>
            </div>
        </div>
    </main>
    <footer class="w-full h-20 flex items-center justify-center bg-white">
        <div class="text-center">
            <a class="text-gray-600" href="/media/random">Charting digital depths, from Alferaki to Faina</a>
        </div>
    </footer>
</div>
{% endblock %}
